<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="joint_servo_with_command" params="joint_name">
    <joint name="${joint_name}">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
      <state_interface name="voltage"/>
      <state_interface name="current"/>
      <state_interface name="moving_flag"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="joint_servo_without_command" params="joint_name">
    <joint name="${joint_name}">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
      <state_interface name="voltage"/>
      <state_interface name="current"/>
      <state_interface name="moving_flag"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="soarm101_hardware_leader" params="port max_speed max_accel">
    <ros2_control name="RealRobotSystem" type="system">
      <hardware>
        <plugin>soarm101_hardware/SOARM101SystemHardwareLeader</plugin>
        <!-- params for plugin -->
        <param name="port">${port}</param>
        <param name="baudrate">1000000</param>
        <param name="default_speed">${max_speed}</param>
        <param name="default_accel">${max_accel}</param>
        <param name="park_positions">[0.004, -1.712, 1.560, 1.141, -0.029, 0.461]</param>
        <param name="max_torques">[2.69, 1.91, 2.69, 1.41, 1.41, 1.41]</param>
        <param name="calibration_file">$(find converter_calibration_data)/config/leader_motor_calibration.yaml</param>
       
      </hardware>
      <!-- Interfaces for each joint -->
      <xacro:joint_servo_without_command joint_name="shoulder_pan_joint" />
      <xacro:joint_servo_without_command joint_name="shoulder_lift_joint" />
      <xacro:joint_servo_without_command joint_name="elbow_flex_joint" />
      <xacro:joint_servo_without_command joint_name="wrist_flex_joint" />
      <xacro:joint_servo_without_command joint_name="wrist_roll_joint" />
      <xacro:joint_servo_without_command joint_name="gripper_jaw_joint" />

    </ros2_control>
  </xacro:macro>

  <xacro:macro name="soarm101_hardware_follower" params="port max_speed max_accel">
    <ros2_control name="RealRobotSystem" type="system">
      <hardware>
        <plugin>soarm101_hardware/SOARM101SystemHardwareFollower</plugin>
        <!-- params for plugin -->
        <param name="port">${port}</param>
        <param name="baudrate">1000000</param>
        <param name="default_speed">${max_speed}</param>
        <param name="default_accel">${max_accel}</param>
        <param name="park_positions">[0.004, -1.712, 1.560, 1.141, -0.029, 0.461]</param>
        <param name="max_torques">[2.94, 2.94, 2.94, 2.94, 2.94, 2.94]</param>

        <param name="calibration_file">$(find converter_calibration_data)/config/follower_motor_calibration.yaml</param>
       
      </hardware>
      <!-- Interfaces for each joint -->
      <xacro:joint_servo_with_command joint_name="shoulder_pan_joint" />
      <xacro:joint_servo_with_command joint_name="shoulder_lift_joint" />
      <xacro:joint_servo_with_command joint_name="elbow_flex_joint" />
      <xacro:joint_servo_with_command joint_name="wrist_flex_joint" />
      <xacro:joint_servo_with_command joint_name="wrist_roll_joint" />
      <xacro:joint_servo_with_command joint_name="gripper_jaw_joint" />

    </ros2_control>
  </xacro:macro>

</robot>